/* GLOBAL STYLES */
body {
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
}

/* PAGE STYLES */
.page {
  background-color: #f6f6ef;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  width: 85vw;
}

/* HEADER STYLES */
.header {
  align-items: center;
  background-color: #fb6517;
  display: flex;
  margin: 1px;
  padding: 5px 4px;
}
.header a {
  text-decoration: none;
}
.header-home-nav  {
  flex: 0 0 auto;
}
.header-logo {
  border: 1px solid #fff ;
  display: inline-block;
  margin-left: 3px
  margin: 3px;
}
.header-logo img {
  height: 1em;
  text-align: center;
  width: 1.2em;
}
.header-title {
  color: #000;
  font-weight: bold;
}
.header-nav {
  flex: 1 1 auto;
}
.nav-links li {
  display: inline-block;
  list-style-type: none;
  padding: 0 3px 0 6.5px;
  margin: 0;
}
.nav-links li:first-child ~ li {
  border-left: 1px solid black;
}
.header-nav a {
  color: #000;
}
.header-login {
  display: inline-block;
  flex: 1 1 100px;
  text-align: right;
}
.header-login a {
  color: #000;
  padding: 4px;
}

/* FOOTER STYLES */
.footer {
  border-top: 2px solid #fb6517;
}
.footer-title {
  text-align: center;
  padding: 1.5em;
}
.footer-nav {
  /* padding-bottom: 1.5em; */
}
.footer-nav-links {
  text-align: center;
}
.footer-nav-links li {
  display: inline-block;
  list-style-type: none;
  padding: 0 3px 0 6.5px;
  margin: 0;
}
.footer-nav-links li a {
  color: #000;
  font-size: 0.8em;
  text-decoration: none;
}
.footer-nav-links li:first-child ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.footer-search {
  /* margin: 1em; */
  padding: 1em;
  text-align: center;
}
.footer-search-label {
  color: rgba(0, 0, 0, 0.5);
}

/* ARTICLE SECTION STYLES */
.article-section {
  margin-left: 2em;
}
.article-info a {
  text-decoration: none;
}
.article-list > li {
  color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 5px;
}
.article-info {
  position: relative;
}
.article-info > a:first-child::before {
  color: rgba(0, 0, 0, 0.5);
  content: "▲";
  font-size: 0.85em;
  height: 2px;
  position: relative;
  width: 2px;
  top: -2px;
}
.article-excerpt {
  color: #000;
}
a.article-link:hover {
  text-decoration-line: underline;
}
.article-points-tracker li {
  display: inline-block;
  font-size: 0.75em;
  list-style: none;
}
.article-points-tracker li,
.article-points-tracker li a {
  color: rgba(0, 0, 0, 0.5);
}
.article-points-tracker li:first-child ~ li {
  border-left: 1px solid  rgba(0, 0, 0, 0.5) ;
  padding-left: 4px ;
}
.article-points-tracker li a:hover {
  text-decoration-line: underline;
}
.gray-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
}

/* COMMENT PAGE STYLES */
.comment-article-title {
  list-style-type: none;
  padding: 1em 0;
}
.text-area {
 margin: 0 1em;
}
.comment-label {
  background-color: #fff;
  border-radius: 0.2em;
  box-shadow: 0 1px 0.2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: inline-block;
  font-family: monospace ;
  margin: 1em 1em 0;
  padding: 0 1em;
}
.comment-section {
  margin: 4em 0;
}
@counter-style triangle {
  system: cyclic;
  symbols: "\25B2";
  suffix: " ";
}
.comment-section ul {
 list-style: triangle;
}
.comment-title a {
  color: #000;
}
.comment-body {
  font-size: 0.85em;
  margin: 1em 0;
}
p.comment-body {
  /* background-color: rebeccapurple; */
  line-height: 1.3em;
  font-size: 0.95em;
}
.comment-reply {
  font-size: 0.75em;
  margin-bottom: 1em;
}
.comment-level-1 {
  margin-left: 40px;
}
.comment-level-2 {
  margin-left: 40px;
}

/* MOBILE STYLES */
