<li class="article-info">
  <a href="https://example.com/" class="article-excerpt">TSA tries out another (illegal) biometric “ID verification” system</a>
  <a href="https://example.com/" class="article-link gray-text">(example.com)</a>
  <ul class="article-points-tracker">
    <li class="class="gray-text"">225 points by
      <a href="https://example.com/" class="">walterbell</a>
      <a href="https://example.com/">2 hours ago</a>
    </li>
    <li>
      <a href="https://example.com/">hide</a>
    </li>
    <li>
      <a href="./article-1.html">134 comments</a>
    </li>
  </ul>
</li>
