<header class="header">

  <div class="header-home-nav">
    <a href="./index.html" class="header-logo">
      <img src="./images/hn-logo.png" alt="Logo">
    </a>

  </div>

  <div class="header-nav-menu">
    <a href="./index.html" class="header-title">Hacker News</a>
    <nav class="header-nav">
      <ul class="nav-links">
        <li><a href="https://example.com/">new</a></li>
        <li><a href="https://example.com/">past</a></li>
        <li><a href="https://example.com/">comments</a></li>
        <li><a href="https://example.com/">ask</a></li>
        <li><a href="https://example.com/">show</a></li>
        <li><a href="https://example.com/">jobs</a></li>
        <li><a href="https://example.com/">submit</a></li>
      </ul>
    </nav>
  </div>

  <div class="header-login">
    <a href="https://example.com/" class="nav-links login">login</a>
  </div>
</header>