---
layout: default
---
<ol class="comment-article-title">
  {% include article-info.html %}
</ol>

<div class="comment-box">
  <textarea name="comment" id="add comment" cols="60" rows="6" class="text-area"></textarea>
  <div>
    <label for="add comment" class="comment-label">add comment</label>
  </div>
</div>

<div class="comment-section">
  <ul>
    <li class="comment-title">
      <span class="gray-text">MurMan 1 hour ago [-]</span>
      {% include comment-block.html %}
      <ul class="comment-level-1">
        <li class="comment-title">
          <span class="gray-text">loctek 1 hour ago [-]</span>
          {% include comment-block.html %}
          <ul class="comment-level-2">
            <li class="comment-title">
              <span class="gray-text">kelnos 1 hour ago [-]</span>
              {% include comment-block.html %}
            </li> 
          </ul>
        </li>
        <li class="comment-title">
          <span class="gray-text">jjcon 1 hour ago [-]</span>
          {% include comment-block.html %}
        </li>
        
      </ul>
    </li>
  </ul>
</div>
